%h1
  _ebooks accounts to be blocked

%p
  the following accounts will be blocked:

%table
  %tr
    %th{ scope: "col" }
      twitter id
    %th{ scope: "col" }
      screen name

  - @accounts_to_block.each do |account|
    %tr
      %td
        = account.twitter_id
      %td
        = account.screen_name
